<ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">{{ofertaSelecionada.nome}}</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Fechar</button>
        </ion-header-bar>
            <ion-content class="background-padrao">
              <div class="list card">

              <div class="item item-avatar">
                <img src="https://pbs.twimg.com/profile_images/616359485381193728/zgJUwAY9.png">
                <h2>Construçao de casas no Dona Marta</h2>
                <p>01/07/2016</p>
              </div>

              <div class="item item-body">
                <img class="full-image" src="delorean.jpg">
                <p>
                  Vamos reformar diversas residencias no morro Dona Marta no dia 01/07/2016.
                  
                </p>
                <p>
                  <a href="#" class="subdued">Email</a>
                  <a href="#" class="subdued">Ligar</a>
                </p>
              </div>

            </div>
            </ion-content>
          </ion-modal-view>