<ion-view view-title="">
  <ion-content class="background-padrao">
      <div class="list" class="background-padrao">
        <div class="logo">
        <img src="img/logo.png">
      </div>
    
        <label class="item item-input background-padrao">
          <input type="text" placeholder="Email" ng-model="loginData.username">
        </label>
        <label class="item item-input background-padrao">
          <input type="password" placeholder="Senha" ng-model="loginData.password">
        </label>
          <br>
          <label class="background-padrao">
                <form ng-submit="doLogin()">
                    <button class="button button-block button-balanced" type="submit">Login</button>
                </form>
        </label>
        <label class="background-padrao">
            <button class="button button-block button-positive" ng-click="cadastrar()">Cadastrar</button>
        </label>
      </div>
  </ion-content>
</ion-view>
