<ion-view view-title="Campanhas Ativas">
  <ion-content class="background-padrao">
      <div class="row">
        <h5>Na sua região: </h5>
      </div>
      <div class="list">
            <a class="item item-avatar" ng-repeat="oferta in ofertas">
             <div ng-click="exibirDetalhes(oferta)">
              <img src="{{oferta.urlImagem}}">
              <h2>{{oferta.nome}}</h2>
              <p>{{oferta.descricao}}</p>
            </div>
            </a>    
            
    </div>
  </ion-content>
</ion-view>
