.logo img {
    display: block;
    height: 300px;
    margin: 0 auto;
}

.bar.bar-stable {
    border-color: #fff;
    background-color: #fff;
    background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%);
    color: #fff;
}


.sem-borda {
   border-color: #fff !important;
}